.Modal {
  position: absolute !important;
  right: inherit !important;
  bottom: inherit !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  padding: 50px 0;
}

.Modal .Modal_content {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
}

@media (max-width: 767px) {
  .Modal .Modal_content {
    width: 90%;
  }
}

.Modal .Modal_content .closeModal {
  width: 100%;
  text-align: left;
  padding-bottom: 15px;
}

.Modal .Modal_content .closeModal .close {
  padding: 5px;
  background: var(--color-primary);
  border-radius: 10px !important;
  color: var(--text-white);
}
