table {
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

td,
th {
  border: 1px solid #eee;
  text-align: center;
  padding: 20px;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #f8f6ff;
}
